/.vscode*/vendor/
web-portal/vendor/
order-service/vendor/
consumer-service/vendor/
payment-service/vendor/
payment-service/.vscode
payment-service/.idea
order-service/.idea
order-service/.vscode
payment-service/.idea
payment-service/.vscode
.vscode
web-portal/.vscode
web-portal/.idea
web-portal/var/cache/*
web-portal/debug
web-portal/*.sql
consumer-service/var/doctrine/*
pact-broker.sqlite
