<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false">

    <testsuites>
        <testsuite name="webportal-contract-tests">
            <directory suffix="Contract.php">tests/Contracts/Web</directory>
        </testsuite>
        <testsuite name="order-contract-tests">
            <directory suffix="Contract.php">tests/Contracts/Order</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
